body{
  margin: 0;
}
#header{
  background-color: aqua;
  height: 20%;
}
.logo{
  width: 200px;
}

#container{
  background-color: black;
  height: 80%;
  white-space: nowrap;
}

.menu-container{
  background-color: blue;
  width: 20%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.content-container{
  background-color:cadetblue;
  width: 80%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: wrap;
}
a{
  color: black;
}
